* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #edeef0;
    font-family: Verdana, sans-serif;
    margin: 0;
  }
  
  ul {
    list-style-type: none;
  }
  
  form {
    background-color: #ffffff;
    padding: 24px 16px;
    border-radius: 16px;
    box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
  }
  
  fieldset {
    border: none;
  }
  
  legend {
    font-weight: 600;
  }
  
  form > fieldset > *:not(:last-child) {
    margin-bottom: 16px;
  }
  
  .form-container {
    border: 1px solid #cccccc;
    border-radius: 8px;
  }
  
  .form-container fieldset {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
  
  .form-container legend {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 24px;
    text-align: center;
  }
  
  .input-container {
    display: flex;
  }
  
  .input-container label {
    margin-right: 12px;
    min-width: 160px;
    text-align: right;
    padding-top: 12px;
  }
  
  .input-container input {
    padding: 8px 12px;
    width: 100%;
  }
  
  .input-container select {
    padding: 10px 12px;
    width: 100%;
  }
  
  #contacts-data > :nth-child(2) {
    margin-bottom: 16px;
  }
  
  .additional-info > * + * {
    margin-top: 16px;
  }
  
  .languages {
    display: flex;
  }
  
  .languages h4 {
    margin: 0 12px 0 0;
    min-width: 160px;
    text-align: right;
    font-weight: normal;
  }
  
  .languages input {
    margin-left: 0;
  }
  
  .languages__checkboxes > *:not(:last-child) {
    margin-bottom: 8px;
  }
  
  .textarea-container {
    display: flex;
  }
  
  .textarea-container label {
    min-width: 160px;
    margin-right: 12px;
    text-align: right;
  }
  
  .btn {
    padding: 12px 24px;
    background-color: #4285f4;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    max-width: fit-content;
    display: block;
    margin: 20px auto 12px auto;
  }
  
  .btn:hover {
    box-shadow: 0 0 10px black;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }